body {background-color: #ffffff;
      padding-left:20vh;
      }


      .shadowbendleft {
         position: absolute;
         top:399px;
         left:1200px;
         z-index:20;
      }
      .sbr {
         position: absolute;
         top:420px;
         left:1240px;
         z-index:19;
      }

      .strawbend {
   position: absolute;
   top:410px;
   left:1195px;
   z-index:18;
}

.shadowmainleft {
   position: absolute;
   top:970px;
   left:1365px;
   z-index:16;
}

.smr {
   position: absolute;
   top:970px;
   left:1410px;
   z-index:15;
}
.strawmain {
   position: absolute;
   top: 960px;
   left: 1365px;
   z-index:14;
}


.strawopen {
   position:absolute;
   top:405px;
   left:1305px;
   z-index:51;}

.shadowopen {
   position:absolute;
   top:405px;
   left:1305px;
   z-index:52;
}

.glassmask {
   position:absolute;
   border-top:1500px solid rgb(218, 227, 255);
	border-left: 200px solid transparent;
   border-right: 200px solid transparent;
	top: 1000px;
   width: 600px;
   left:1050px;
   z-index:1;
}

.glassopen {
   position:absolute;
   top:980px;
   left:1050px;
   z-index:10;

}

.org {
   position:absolute;
   border-top:1000px solid rgb(255, 217, 0);
	border-left: 130px solid transparent;
   border-right: 130px solid transparent;
	top: 1485px;
   width: 545px;
   left:1150px;
   z-index:50;
   opacity:30%;
}


.org2 {
   position:absolute;
	top: 1485px;
   left:1150px;
   z-index:51;
   opacity:30%;
}

.org3 {
   position:absolute;
	top: 1485px;
   left:1000px;
   z-index:51;
   opacity:30%;
}


.sidel{position:absolute;
   top:1000px;
   left:210px;
z-index:60}

.sider {position:absolute;
top:1000px;
left:1890px;
z-index:61;}

.glasstop {
   position:absolute;
	top: 1400px;
   left:1800px;
   z-index:70;
}

.glasssparkle {
   position:absolute;
   top:1200px;
   left:1870px;
   z-index:75;
}

.glassleftsparkle {
   position:absolute;
   top:900px;
   left:1140px;
   z-index:71;
}