body {background-color: #ffffff;
      padding-left:20vh;
      }


      .shadowbendleft {
         position: absolute;
         top:399px;
         left:1200px;
         z-index:96;
      }
      .sbr {
         position: absolute;
         top:420px;
         left:1240px;
         z-index:97;
      }

      .strawbend {
   position: absolute;
   top:410px;
   left:1195px;
   z-index:95;
}

.shadowmainleft {
   position: absolute;
   top:983px;
   left:1197px;
   z-index:62;
}

.smr {
   position: absolute;
   top:980px;
   left:1242px;
   z-index:63;
}
.undershadowmainleft {
   position: absolute;
   top:1283px;
   left:1460px;
   z-index:40;
}

.undersmr {
   position: absolute;
   top:1480px;
   left:1543px;
   z-index:41;
}
.strawmain {
   position: absolute;
   top: 1500px;
   left: 1500px;
   z-index:14;
}

.strawmainunder {
   position: absolute;
   top: 960px;
   left: 1190px;
   z-index:60;
}


.strawopen {
   position:absolute;
   top:405px;
   left:1305px;
   z-index:99;}

.shadowopen {
   position:absolute;
   top:405px;
   left:1305px;
   z-index:100;
}

.glassmask {
   position:absolute;
   border-top:1500px solid rgb(218, 227, 255);
	border-left: 200px solid transparent;
   border-right: 200px solid transparent;
	top: 1000px;
   width: 600px;
   left:1050px;
   z-index:1;
}

.glassopen {
   position:absolute;
   top:980px;
   left:1050px;
   z-index:50;

}

.org {
   position:absolute;
   
   border-top:1000px solid rgb(255, 217, 0);
	border-left: 110px solid transparent;
   border-right: 110px solid transparent;
   width: 590px;
	
   top: 1484px;
   left:1150px;
   z-index:50;
   opacity:60%;
}


.org2 {
   position:absolute;
	top: 1485px;
   left:1100px;
   z-index:51;
   opacity:90%;
}

.org3 {
   position:absolute;
	top: 1485px;
   left:1000px;
   z-index:51;
   opacity:30%;
}


.sidel{position:absolute;
   top:1000px;
   left:210px;
z-index:60}

.sider {position:absolute;
top:1000px;
left:1890px;
z-index:61;}

.glasstop {
   position:absolute;
	top: 1400px;
   left:1800px;
   z-index:70;
}

.glasssparkle {
   position:absolute;
   top:1200px;
   left:1870px;
   z-index:75;
}

.glassleftsparkle {
   position:absolute;
   top:1017px;
   left:1024px;
   z-index:71;
   rotate:20deg;
}

.glassbottomopen {
   position:absolute;
   top:2470px;
   left:1250px;
   z-index:2;
}

.glassbottomopen2 {
   position:absolute;
   top:2470px;
   left:1250px;
   z-index:70;
}

.orgcircle {
   position:absolute;
   top:1460px;
   left:1149px;
   z-index:53;
}